amqp==5.3.1
asgiref==3.8.1
bcrypt==4.2.1
beautifulsoup4==4.8.2
billiard==4.2.1
celery==5.5.3
certifi==2024.12.14
cffi==1.17.1
channels==4.2.0
chardet==3.0.4
charset-normalizer==3.4.0
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cobble==0.1.4
colorama==0.4.6
compressed-rtf==1.0.7
cryptography==44.0.0
distlib==0.3.9
dj-database-url==3.0.1
Django==5.1.4
django-cors-headers==4.6.0
django-countries==7.6.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
docx2txt==0.9
ebcdic==1.1.1
extract-msg==0.28.7
filelock==3.18.0
greenlet==3.1.1
idna==3.10
IMAPClient==2.1.0
kombu==5.5.4
lxml==5.4.0
mammoth==1.9.1
numpy==2.2.6
olefile==0.47
packaging==25.0
pandas==2.2.3
paramiko==3.5.0
pdfminer.six==20191110
phonenumbers==9.0.6
pillow==11.2.1
platformdirs==4.3.7
playwright==1.49.1
prompt_toolkit==3.0.51
psycopg2==2.9.10
pycparser==2.22
pycryptodome==3.23.0
pyee==12.0.0
PyJWT==2.9.0
PyMuPDF==1.26.0
PyNaCl==1.5.0
pypandoc==1.15
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-pptx==0.6.23
pytz==2025.2
requests==2.32.3
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.8.1
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
gunicorn==21.2.0
urllib3==2.2.3
vine==5.1.0
virtualenv==20.30.0
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
websockets==14.1
xlrd==1.2.0
XlsxWriter==3.2.3